{# This comment makes Vim detect the filetype. #}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<style>
	/* @font-face { font-family: Inter; font-weight: 400; src: url("https://albertttan.github.io/daily-bulletin/files/Inter-Regular.ttf") format("truetype"); }
	@font-face { font-family: Inter; font-weight: 700; src: url("https://albertttan.github.io/daily-bulletin/files/Inter-Bold.ttf") format("truetype"); }
	@font-face { font-family: "Noto Sans SC"; font-weight: 400; src: url("https://albertttan.github.io/daily-bulletin/files/NotoSansSC-Regular.otf") format("opentype"); }
	@font-face { font-family: "Noto Sans SC"; font-weight: 700; src: url("https://albertttan.github.io/daily-bulletin/files/NotoSansSC-Bold.otf") format("opentype"); } */
	html { font-family: "Arial", "Noto Sans SC", sans-serif; }
	body { max-width: 60rem; margin: auto; padding: 1rem; }
	header { margin-top: 1rem; text-align: center; margin-bottom: 1.5rem; }
	h2 { padding-top: 1.2rem; }
	h3, h4, h5, h6 { padding-top: 0.8rem; }
	span.location { text-decoration: underline; }
	time { text-decoration: underline; }
	a:link, a:visited, a:hover, a:active { color: #791a9c; }
	table { width: 100%; border-collapse: collapse; border: 2px solid rgb(180, 180, 180); font-size: 90%; }
	caption { margin: 1ex 1em; font-weight: bold; font-size: 105%; }
	/* tr.today { background-color: rgb(210, 221, 247); } */
	tr.today { background-color: #e7d2ec; }
	tr.not-today { color: rgb(150, 150, 150); }
	td, th { border: 1px solid rgb(150, 150, 150); padding: 0.4rem; }
	table#community_time td { text-align: center;}
	td { min-width: 4.8rem; vertical-align: top; }
	table#menu { zoom: 80%; min-width: 50em; } /* I think the male clients will just resize the table */
	table#menu ul { padding-left: 1.2em; }
	th { color: black; background-color: rgb(240, 240, 240); }
	th, .wtitle { font-weight: bold; }
	blockquote { position: relative; margin-left: 40px; }
	blockquote::before { content: ""; position: absolute; left: -14px; top: 0px; bottom: 0px; width: 2px; background-color: rgb(180, 180, 180); }
	pre { background-color: rgb(240, 240, 240); padding: 10px; }
	code, kbd, var { font-family: monospace; font-size: smaller; background-color: rgb(240, 240, 240); }
	cite { font-size: 90%; font-style: italic; color: rgb(150, 150, 150); }
	p.ps { font-size: 90%; color: rgb(150, 150, 150); }
	.ps { color: rgb(150, 150, 150); }
	.serif, math { font-family: serif; }
	img { max-width: 100%; max-height: 60rem; }
	img.embed { width: 40%; float: right; margin-left: 10px; margin-bottom: 10px; }
	hr { border: 1px solid rgb(150, 150, 150); }
	footer { padding-top: 1rem; text-align: center; }
</style>
</head>
<body dir="auto">
<title>Daily Bulletin {{stddate}}</title>
<header>
	<h1>Daily Bulletin 每日公告</h1>
	<p><time datetime="{{stddate}}">{{stddate}}</time>, {{weekday_english}}, Day {{day_of_cycle}}</p>
</header>
<article>
	<p>
	Happy {{weekday_english}}! Thank you for supporting the Daily Bulletin. Please note that this is supplementary to <a href="{{the_week_ahead_url}}">The Week Ahead</a> and is not the canonical source of information, and the Daily Bulletin staff accept no liability for the accuracy or validity. Please fill in the respective forms to <a href="https://sj.ykps.net/sjdb/submit">share inspirations</a> or <a href="https://sj.ykps.net/sjdb/unsub">unsubscribe</a>.
	<br />
	{{weekday_chinese}}快乐！感谢您支持每日公告。请注意，每日公告只是<a href="{{the_week_ahead_url}}">每周展望</a>的补充，并不代表官方信息。我们不对信息的准确性和有效性承担责任。请填写相应表格以<a href="https://sj.ykps.net/sjdb/submit">分享灵感</a>或<a href="https://sj.ykps.net/sjdb/unsub">退订</a>。
	</p>
	{% if community_time %}
	<h2>Community Time 午休时间</h2>
	<table id="community_time">
		{% if community_time[0] | length == 4 %}
		<colgroup><col style="width: 5%"><col style="width: 23.75%"><col style="width: 23.75%"><col style="width: 23.75%"><col style="width: 23.75%"></colgroup>
		<thead>
			<tr>
				<th scope="col">Day</th>
				<th scope="col">Y9</th>
				<th scope="col">Y10</th>
				<th scope="col">Y11</th>
				<th scope="col">Y12</th>
			</tr>
		</thead>
		<tbody>
			<tr class="today">
				<th scope="row">{{weekdays_abbrev[0]}}</th>
				{% if (community_time[0][0] == community_time[0][1] == community_time[0][2] == community_time[0][3]) %}
					<td colspan="4">{{ community_time[0][0] }}</td>
				{% elif (community_time[0][0] == community_time[0][1]) and (community_time[0][2] == community_time[0][3]) %}
					<td colspan="2">{{ community_time[0][0] }}</td>
					<td colspan="2">{{ community_time[0][2] }}</td>
				{% elif community_time[0][0] == community_time[0][1] %}
					<td colspan="2">{{ community_time[0][0] }}</td>
					<td colspan="1">{{ community_time[0][2] }}</td>
					<td colspan="1">{{ community_time[0][3] }}</td>
				{% elif community_time[0][2] == community_time[0][3] %}
					<td colspan="1">{{ community_time[0][0] }}</td>
					<td colspan="1">{{ community_time[0][1] }}</td>
					<td colspan="2">{{ community_time[0][2] }}</td>
				{% else %}
					<td colspan="1">{{ community_time[0][0] }}</td>
					<td colspan="1">{{ community_time[0][1] }}</td>
					<td colspan="1">{{ community_time[0][2] }}</td>
					<td colspan="1">{{ community_time[0][3] }}</td>
				{% endif %}
			</tr>
			{% for i in range(days_after_this) %}
				<tr class="not-today">
					<th scope="row">{{weekdays_abbrev[i+1]}}</th>
					{% if (community_time[i+1][0] == community_time[i+1][1] == community_time[i+1][2] == community_time[i+1][3]) %}
						<td colspan="4">{{ community_time[i+1][0] }}</td>
					{% elif (community_time[i+1][0] == community_time[i+1][1]) and (community_time[i+1][2] == community_time[i+1][3]) %}
						<td colspan="2">{{ community_time[i+1][0] }}</td>
						<td colspan="2">{{ community_time[i+1][2] }}</td>
					{% elif community_time[i+1][0] == community_time[i+1][1] %}
						<td colspan="2">{{ community_time[i+1][0] }}</td>
						<td colspan="1">{{ community_time[i+1][2] }}</td>
						<td colspan="1">{{ community_time[i+1][3] }}</td>
					{% elif community_time[i+1][2] == community_time[i+1][3] %}
						<td colspan="1">{{ community_time[i+1][0] }}</td>
						<td colspan="1">{{ community_time[i+1][1] }}</td>
						<td colspan="2">{{ community_time[i+1][2] }}</td>
					{% else %}
						<td colspan="1">{{ community_time[i+1][0] }}</td>
						<td colspan="1">{{ community_time[i+1][1] }}</td>
						<td colspan="1">{{ community_time[i+1][2] }}</td>
						<td colspan="1">{{ community_time[i+1][3] }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<colgroup><col style="width: 5%"><col style="width: 31.66666667%"><col style="width: 31.66666667%"><col style="width: 31.66666667%"></colgroup>
		<thead>
			<tr>
				<th scope="col">Day</th>
				<th scope="col">Y9</th>
				<th scope="col">Y10</th>
				<th scope="col">Y11</th>
			</tr>
		</thead>
		<tbody>
			<tr class="today">
				<th scope="row">{{weekdays_abbrev[0]}}</th>
				{% if (community_time[0][0] == community_time[0][1] == community_time[0][2]) %}
					<td colspan="3">{{ community_time[0][0] }}</td>
				{% elif community_time[0][0] == community_time[0][1] %}
					<td colspan="2">{{ community_time[0][0] }}</td>
					<td colspan="1">{{ community_time[0][2] }}</td>
				{% else %}
					<td colspan="1">{{ community_time[0][0] }}</td>
					<td colspan="1">{{ community_time[0][1] }}</td>
					<td colspan="1">{{ community_time[0][2] }}</td>
				{% endif %}
			</tr>
			{% for i in range(days_after_this) %}
				<tr class="not-today">
					<th scope="row">{{weekdays_abbrev[i+1]}}</th>
					{% if (community_time[i+1][0] == community_time[i+1][1] == community_time[i+1][2]) %}
						<td colspan="3">{{ community_time[i+1][0] }}</td>
					{% elif community_time[i+1][0] == community_time[i+1][1] %}
						<td colspan="2">{{ community_time[i+1][0] }}</td>
						<td colspan="1">{{ community_time[i+1][2] }}</td>
					{% else %}
						<td colspan="1">{{ community_time[i+1][0] }}</td>
						<td colspan="1">{{ community_time[i+1][1] }}</td>
						<td colspan="1">{{ community_time[i+1][2] }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
	{% endif %}
	<h2>Delicious Dinings 今日佳肴</h2>
	<table id="menu">
		<colgroup>
			<col style="width: 5%">
			<col style="width: 23.75%;">
			<col style="width: 23.75%;">
			<col style="width: 23.75%;">
			<col style="width: 23.75%;">
			<col style="width: 23.75%;">
			<col style="width: 23.75%; border-left: 2px solid rgb(180, 180, 180);">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">Day</th>
				<th scope="col">Taste of Asia</th>
				<th scope="col">Eat Global</th>
				<th scope="col">Revolution / Piccola Italia</th>
				<th scope="col">Others</th>
			</tr>
		</thead>
		<tbody>
			<tr class="today">
				<th scope="row">{{weekdays_abbrev[0]}}<br/>Brkfst</th>
				{% for i in [0, 1] %}
				<td>
					{% if today_breakfast[i] %}
					<ul>
					{% for m in today_breakfast[i] %}
					<li>
						{{m["en"]}}<br />{{m["zh"]}}
					</li>
					{% endfor %}
					</ul>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					{% if today_breakfast[2] %}
					<ul>
						{% for m in today_breakfast[2] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if today_breakfast[3] %}
					<ul>
						{% for m in today_breakfast[3] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</td>
				<td>
					<ul>
						<li>
							<span class="wtitle">Cafeteria Extra:</span><br />
							{{ today_breakfast[4][0]["en"] }}<br />{{ today_breakfast[4][0]["zh"] }}
							{% for m in today_breakfast[4][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						{% if snack_morning %}
						<li>
							<span class="wtitle">10:05 Snack:</span><br />
							{{snack_morning["en"]}}
							<br />
							{{snack_morning["zh"]}}
						</li>
						{% endif %}
					</ul>
				</td>
				</tr>
			<tr class="today">
				<th scope="row">{{weekdays_abbrev[0]}}<br/>Lunch</th>
				{% for i in [0, 1] %}
				<td>
					{% if today_lunch[i] %}
					<ul>
					{% for m in today_lunch[i] %}
					<li>
						{{m["en"]}}<br />{{m["zh"]}}
					</li>
					{% endfor %}
					</ul>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					{% if today_lunch[2] %}
					<ul>
						{% for m in today_lunch[2] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if today_lunch[3] %}
					<ul>
						{% for m in today_lunch[3] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</td>
				<td>
					<ul>
						<li>
							<span class="wtitle">Vegetarian:</span><br />
							{{ today_lunch[4][0]["en"] }}<br />{{ today_lunch[4][0]["zh"] }}
							{% for m in today_lunch[4][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						<li>
							<span class="wtitle">Soup:</span><br />
							{{ today_lunch[5][0]["en"] }}<br />{{ today_lunch[5][0]["zh"] }}
							{% for m in today_lunch[5][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						<li>
							<span class="wtitle">Cafeteria Extra:</span><br />
							{{ today_lunch[6][0]["en"] }}<br />{{ today_lunch[6][0]["zh"] }}
							{% for m in today_lunch[6][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						{% if snack_afternoon %}
						<li>
							<span class="wtitle">15:45 Snack:</span><br />
							{{snack_afternoon["en"]}}
							<br />
							{{snack_afternoon["zh"]}}
						</li>
						{% endif %}
					</ul>
				</td>
			</tr>
			{% if today_dinner and days_after_this >= 0 %}
			<tr class="today">
				<th scope="row">{{weekdays_abbrev[0]}}<br/>Dinner</th>
				{% for i in [0, 1] %}
				<td>
					{% if today_dinner[i] %}
					<ul>
					{% for m in today_dinner[i] %}
					<li>
						{{m["en"]}}<br />{{m["zh"]}}
					</li>
					{% endfor %}
					</ul>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					{% if today_dinner[2] %}
					<ul>
						{% for m in today_dinner[2] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if today_dinner[3] %}
					<ul>
						{% for m in today_dinner[3] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</td>
				<td>
					<ul>
						{% if today_dinner[4] %}
						<li>
							<span class="wtitle">Vegetarian:</span><br />
							{{ today_dinner[4][0]["en"] }}<br />{{ today_dinner[4][0]["zh"] }}
							{% for m in today_dinner[4][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						{% endif %}
						{% if today_dinner[5] %}
						<li>
							<span class="wtitle">Soup:</span><br />
							{{ today_dinner[5][0]["en"] }}<br />{{ today_dinner[5][0]["zh"] }}
							{% for m in today_dinner[5][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						{% endif %}
						{% if today_dinner[6] %}
						<li>
							<span class="wtitle">Cafeteria Extra:</span><br />
							{{ today_dinner[6][0]["en"] }}<br />{{ today_dinner[6][0]["zh"] }}
							{% for m in today_dinner[6][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
						{% endif %}
						{% if snack_evening %}
						<li>
							<span class="wtitle">Evening Snack:</span><br />
							{{snack_evening["en"]}}
							<br />
							{{snack_evening["zh"]}}
						</li>
						{% endif %}
					</ul>
				</td>
			</tr>
			{% endif %}
			{% if next_breakfast and days_after_this >= 0 %}
			<tr class="not-today">
				<th scope="row">{{weekdays_abbrev[1]}}<br/>Brkfst</th>
				{% for i in [0, 1] %}
				<td>
					{% if next_breakfast[i] %}
					<ul>
					{% for m in next_breakfast[i] %}
					<li>
						{{m["en"]}}<br />{{m["zh"]}}
					</li>
					{% endfor %}
					</ul>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					{% if next_breakfast[2] %}
					<ul>
						{% for m in next_breakfast[2] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if next_breakfast[3] %}
					<ul>
						{% for m in next_breakfast[3] %}
						<li>
							{{m["en"]}}<br />{{m["zh"]}}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</td>
				<td>
					<ul>
						<li>
							<span class="wtitle">Cafeteria Extra:</span><br />
							{{ next_breakfast[4][0]["en"] }}<br />{{ next_breakfast[4][0]["zh"] }}
							{% for m in next_breakfast[4][1:] %}
							<br />{{m["en"]}}<br />{{m["zh"]}}
							{% endfor %}
						</li>
					</ul>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	{% if days_after_this == -1 %}
	<p class="ps">Note: The machine-readable menus emailed to the Daily Bulletin staff do not contain end-of-week dinner and weekend meals.</p>
	{% endif %}

	<h2>Daily Inspiration 每日灵感</h2>
	{% if inspiration_type %}
		{% if inspiration_type == "text" %}
		<pre>{{ inspiration_text }}</pre>
		{% elif inspiration_type == "media" %}
		<img src="data:{{inspiration_image_mime}};base64,{{ inspiration_image_data }}" />
			{% if inspiration_text %}
			<pre>{{ inspiration_text }}</pre>
			{% endif %}
		{% elif inspiration_type == "canteen" %}
		<pre>{{ inspiration_text }}</pre>
		{% endif %}
		{% if inspiration_shared_by %}
		<p><cite>Shared by {{inspiration_shared_by}}.<br/>由{{inspiration_shared_by}}分享。</cite></p></p>
		{% else %}
		<p><cite>Shared anonymously.<br />匿名分享。</cite></p>
		{% endif %}
	{% else %}
	<p>
	Unfortunately, there is no inspiration today.
	Please feel free to <a href="https://sj.ykps.net/sjdb/submit">submit one</a>.
	</p>
	{% endif %}

	{% if on_this_day_html_en or on_this_day_html_zh %}
	<h2>On This Day 以史为鉴</h2>
	{% endif %}
	{% if on_this_day_html_en %}
	{{on_this_day_html_en | safe}}
	{% endif %}
	{% if on_this_day_html_zh %}
	{{on_this_day_html_zh | safe}}
	{% endif %}

	{% if in_the_news_html_en or in_the_news_html_zh %}
	<h2>In the News 时事要闻</h2>
	{% endif %}
	{% if in_the_news_html_en %}
	{{in_the_news_html_en | safe}}
	{% endif %}
	{% if in_the_news_html_zh %}
	{{in_the_news_html_zh | safe}}
	{% endif %}

	<h2>Regular Notices 常规通知</h2>
	<ul>
		<li>
			Emergency phone: <a href="tel:+8618221990830">182 2199 0830</a>
		</li>
		<li>
			AOD: {{aod}}
		</li>
		<li>
			<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=bNLT3ZexAE2jLR_9hMDClQBvFPSif2RFlhKTaMpIOlhUMjU3QVpQUTUxQ0g3SllJWUpUUkNHU1hJVy4u">Student Government Suggestions Form</a>
		</li>
		<li>
			<a href="https://ykpaoschool-my.sharepoint.com/:b:/g/personal/cora_chen_ykpaoschool_cn/EUW1niuK0HtBjSH_Caak-zMBlwBQOYM1PeBCCIvm5ow9QA?e=xOr3Px">Fire Safety</a>
		</li>
		<li>
			<a href="https://ykpaoschool-my.sharepoint.com/:b:/g/personal/cora_chen_ykpaoschool_cn/EYvgB6U6Z_lDv3G93gsApPIBu1e9iqSdjnRzmaEZYYXkaQ?e=ffh1VV">Earthquake Safety</a>
		</li>
		<li>
			<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=bNLT3ZexAE2jLR_9hMDClUal_2XHIiZDqlf87fF_sypUNEpHTjJBMlRaRUxDWDdMTVo5WFdDQk85Ry4u">Wellness Center Satisfaction Survey</a>
		</li>
	</ul>
</article>
<footer>
	<p>
	<a href="https://sj.ykps.net/sjdb/">Home Page</a>
	·
	<a href="https://sj.ykps.net/sjdb/arc">Archive</a>
	·
	<a href="mailto:sjdb@runxiyu.org">Contact</a>
	</p>
</footer>
</body>
</html>
